body {
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
    color: darkgray;
    height: 100vh;
    min-height: 100vh;
}

a:link, a:visited {
  background-color: #f44336;
  color: darkkhaki;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkcyan;
}

a {
    font-size: 50px;
}

p.center {
    text-align: center;
}

#center {
    text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}